@model             ShoppingCartViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    <h4>This is your ShoppingCart</h4>
    <hr />


</div>
@foreach (var orderLine in Model.ShoppingChartOrderLineViewModels)
{
    <li class="text-start list-group-item">
        <p class="row">
            Product Name: @orderLine.productName
        </p>
        <p class="row">
            Quantity @orderLine.quantity
        </p>
        <p class="row">
            Orderline Total @orderLine.total
        </p>
    </li>
}

<p button type="button" class="btn btn-light">
    <a asp-controller="Checkout"
       asp-action="Index"
       asp-route-cartId="@Model.ShoppingCartGuid"
       class="text-black">
        Checkout shopping cart Order total: @Model.ShoppingCartOrderTotal
   </a>
</p>






